.modal-toggle-btn
.top-line {
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
}

.modal-toggle-btn 
.bottom-line {
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
}

.modal-toggle-btn.open
.top-line {
  transform: translateY(0.453125rem);
  opacity: 0;
}

.modal-toggle-btn.open
.bottom-line {
  transform: translateY(-10px);
  height: 0px;
  opacity: 0;
}

.modal-toggle-btn.open
.close-line1 {
  transform: scaleX(1);
  transform: rotate(-45deg);
}

.modal-toggle-btn.open
.close-line2 {
  transform: scaleX(1);
  transform: rotate(45deg);
}
